# Maven
*/target/
target/
*.jar
*.jar.original

# Node
*/node_modules/
node_modules/
*/dist/
dist/

# MkDocs build output
site/
_site/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
